html {
    height: 100%;
    min-height: 100%;
}
/*Navbar section*/
#navbar {
    position: absolute
    top: 0;
    display: grid;
    grid-template-columns: 1fr 60px 60px 50px;
    grid-template-rows: 50px;
    grid-template-areas: 
    ". gmail images appsicon";
}
a {
    text-decoration: none; 
    color: rgba(0,0,0,0.87);
    font-family: Arial, sans-serif;
    font-size: 13px;
}

#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;

}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}
#appsicon{
    grid-area: appsicon;
    justify-self: center;
    align-self: center;
}
/*Main section*/
#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 280px 125px;
    grid-template-areas: 
    ". logo ."
    ". search voicesearch";
}
#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
}
#search {
    height: 35px;
    padding: 20px 20px 20px 40px;
    grid-area: search;
    justify-self: center;    
    align-self: center;
    width: 525px;
    border: .5px; /*.5px solid rgba(0, 0, 0, 0.247);*/
    border-radius: 10mm;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Ios-search.svg/1024px-Ios-search.svg.png);
    background-position: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    font-family: Roboto, system-ui, sans-serif;
    font-size: 15px;
    box-shadow: 1px 1px 5px 0px rgb(196, 191, 191); 
    font: rgb(77, 76, 76); 
}
#voicesearch {
    grid-area: voicesearch;
    justify-self: left;
    align-self: center;
    -webkit-appearance: none;
    background: transparent;
    -moz-appearance: none;
    box-shadow: none;
    border: none;
    outline: none;
}
#voicesearch:hover{
    cursor: pointer;
}
#vsicon {
    height:20px;
    width: 35px;
}
/*Footer section*/
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 300px;
    grid-template-rows: 40px;
    grid-template-areas: 
    ". . customize";
}
#customize {
    grid-area: customize;
    align-self: right;
    justify-self: right;
    margin-right: 20px;
    padding: 2px 20px 2px 35px;
    border: .5px black;
    border-radius: 10mm;
    height: 30px;
    width: 120px;
    background-color: transparent;
    background-image: url(https://cdn.iconscout.com/icon/free/png-512/pencil-pen-ui-erase-tool-interface-ui-6-15152.png);
    background-position: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    font-family: Roboto, system-ui, sans-serif;
    font-size: 13px;
    box-shadow: 1px 1px 3px 0px gray; 
    color: #1a73e8;

}