html {
    height: 100%;
    min-height: 100%;
}
#navbar {
    display: grid;
    grid-template-columns: 1fr 60px 60px 50px;
    grid-template-rows: 50px;
    grid-template-areas: 
    ". gmail images appsicon";
}
a {
    text-decoration: none; 
    color: rgb(41, 40, 40);
    font-family: Arial, sans-serif;
}

#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;

}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}
#appsicon{
    grid-area: appsicon;
    justify-self: center;
    align-self: center;
}